/*Formulario*/

.contacto {
    padding: 100px 62px;
}

.form-contacto {
    .form-title {
        margin-bottom: 15px;
    }

    background-color: rgb(30, 30, 30);
    border-radius: 30px;
    padding: 67px 51px;

    input {
        margin: 5px;
    }

    .form-group {
        label {
            margin: 5px;
        }
    }
}


.form-contacto {
    .form-check {
        margin: 15px 5px;
    }

    .btn-form {
        background-color: $color-principal;
        color: #000;
        border-radius: 15px;
        margin: 0px;
        padding: 16px 48px;
        text-align: center;
        text-transform: uppercase;

        &:hover {
            background-color: rgba(209, 229, 0, 0.9);
            transition: 0.2s;
        }
    }
}

/*Preguntas Frecuentes*/

.contacto {
    .container {
        background: linear-gradient(45deg, $color-secundario, $color-principal);
        padding: 35px 25px;
        border-radius: 30px;

        .card p {
            color: white;
        }
    }

    .card-header {
        background-color: #1a1a1a;
        padding: 5px;
    }

    .card-body {
        padding: 15px;
        background-color: rgba(30, 30, 30, 0.9);
    }

    .btn {
        text-decoration: none;
    }

    .faq .faq-title {
        margin-bottom: 15px;
        color: #000;
    }
}