.cta {
    .card-title {
        font-size: 20px;
        font-weight: bold;
        margin: 10px 0;
    }

    .card {
        min-height: 150px;
        background-color: #1a1a1a;
        color: $color-paraffo;
        border: 2px solid $color-secundario;

        &:hover {
            background-color: $color-paraffo;
            color: #1a1a1a;
            border: 2px solid $color-secundario;
            transition: all 0.2s;
        }
    }

    .card-body i {
        font-size: 2.5rem;
        color: $color-secundario;
        padding: 8px 19px;
    }

    
}