* {
    margin: 0;
    padding: 0;
}

body,
header,
footer {
    background-color: #1a1a1a;
    color: $color-paraffo;
}

a {
    text-decoration: none;
    color: inherit;
    font-family: 'Nunito', sans-serif;
}

h2,
h3,
h4,
h5 {
    font-family: 'Raleway', sans-serif;
}

p,
ul {
    font-family: 'Nunito', sans-serif;

}

.title{
    text-transform: uppercase;
    padding: 20px;
    text-align: center;
}

.spams{
    color: $color-principal;
}
