/* Agregar espaciado vertical entre las tarjetas en mobile*/
@media (max-width: 767px) {

  .custom-card,
  .cta .card {
    margin: 10px 0;
    padding: 10px;
  }
}

//Testimonios
@media screen and (max-width: 800px) {
  .testimonio-texto {
    font-size: 18px;
  }

  .testimonio-img {
    height: 120px;
    width: 120px;
  }
}

@media screen and (max-width: 392px) {
  .testimonio-texto,
  .testimonio-info .estudiante {
    font-size: 12px;
  }

  .estudiante-curso {
    font-size: 10px;
  }

  .testimonio-img {
    height: 80px;
    width: 80px;
  }

  .bandera {
    width: 45px;
    height: 40px;
  }
}

@media (max-width: 600px) {
  .title {
    font-size: 3rem;
  }
}

@media (max-width: 450px) {
  .title {
    font-size: 2rem;
    text-align: center;
  }
}

@media (max-width: 400px) {
  .contacto {
    padding: 0px;
    width: auto;
  }

  .container {
    margin-top: 100px;
  }
}

@media (max-width: 760px) {
  /* Agregar espacio vertical en vista mobile */

  .row>div[class*="col-"] {
    margin-bottom: 20px;
    align-items: center;
  }

  .webinar .row iframe {
    width: 320px;
    height: 187px;
  }
}

@media (max-width: 1200px) {
  /* Agrandar videos */

  .webinar iframe {
    width: 450px;
    height: 254px;
  }

  .row>div[class*="col-"] {
    margin-bottom: 20px;
    align-items: center;
  }
}