@mixin size-img {
    width: 150px;
    height: 150px;
}

@mixin size-flag {
    width: 55px;
    height: 50px;
}

.testimonios {
    padding: 40px 80px;

    .carousel {
        max-width: 800px;
    }

    .carousel-item {
        height: 500px;
    }

    .title-testimonio{
        color: $color-principal;
        text-transform: uppercase;
    }
}

.carousel-item .container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.testimonio-img {
    @include size-img;
    object-fit: cover;
    border-radius: 50%;
    margin: 10px 10px 20px 10px;
}

.testimonio-texto {
    max-width: 70%;
    font-size: 20px;
    text-align: center;
}

.testimonio-info {
    font-weight: bold;
    text-align: center;

    p {
        margin-bottom: 0;
    }

    .estudiante {
        font-size: 1.5rem;
    }
}

.estudiante-curso {
    font-size: 1rem;
    color: $color-secundario;
}

.centered-carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.testimonio-header {
    display: flex;
    align-items: center;

    .info {
        display: flex;
        align-items: center;
    }
}

.bandera {
    @include size-flag;
    margin: 5px;
    padding: 5px;
}